on:
  push:
    branches: ["feat/pg"]
jobs:
  my_first_job:
    uses: web3-storage/add-to-web3@v2
    id: web3
    with:
        web3_token: ${{ secrets.WEB3_STORAGE_TOKEN }}
        path_to_add: 'dist'
- run: echo ${{ steps.web3.outputs.cid }}
- run: echo ${{ steps.web3.outputs.url }}
